<header>
    <div class="container-grid">
        <a href="#" class="menu-bar" onclick="mostrarmenu()"><img src="assets/img/bars-solid.svg" alt="hamburguer bar"></a>
        <a class="logo" routerLink=""><img src="assets/img/logomenu.svg" alt="logo do website"></a>
        <a class="logo-tablet" routerLink=""><img src="assets/img/Logo (3).svg" alt="logo"></a>
        <a class="logo-mobile" routerLink=""><img src="assets/img/Logo (4).svg" alt="logo" width="170px"></a>
        <div class="barra-de-pesquisa">
            <input type="text" class="barra-de-texto" placeholder="Busque Aqui">
            <a href="#" class="botao-pesquisa">
                <img src="assets/img/magnifying-glass-solid.svg" alt="lupa">
            </a>
        </div>
        <nav id="menu" class="menu">
            <a href="#">Smartphones</a>
            <a href="#">Notebooks</a>
            <a href="#">Computadores</a>
            <a routerLink="/carrinho">Carrinho</a>
            <input type="text" placeholder="Pesquise...">
        </nav>
        <div class="carrinho-usuario">
            <!-- <a id="carrinho-button" href="#"><img src="img/cart-shopping-solid.svg" alt="carrinho de compras"></a> -->
            <a href="/login"><img src="assets/img/user-solid.svg" alt="boneco de login"></a>
        </div>
    </div>
</header>
<script type="text/javascript" src="projeto.js"></script>

