.banner {
    background-image: url(/assets/img/BANNER-PRINCIPAL.png);
    height: 53.5rem;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text-grid {
    height: 31.7rem;
    width: auto;
    background-color: #Fafafa;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo-texto {
    font-size: 4.2rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 90rem;
}
.hardware-titulo {
    color: #7EBD10;
}
.produto-box {
    width: 40rem;
    margin-top: 5rem;
    height: 62rem;
    background-color: #3e3e3e10;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ProdutosNew {
    width: 40rem;
    margin-top: 5rem;
    height: 62rem;
    background-color: #3e3e3e10;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-boxes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: auto;
    margin: auto;
    width: 142rem;
}
.figure {
    display: flex;
    justify-content: center;
    width: 30rem;
    height: 30rem;
}
.info-box {
    font-family: 'PT Sans', sans-serif;
    color:#363E41;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.2rem;
    height: 11.5rem;
    width: 40rem;
}
.price-title {
    color:#E90313;
    font-size: 2.2rem;
    height: 6.7rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}
.info-price {
    width: 32.4rem;
    height: 3.6rem;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: center;
    color: #363E41;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right:auto;
}
.info-first-value {
    font-weight: 800;
    color:#363E41;
    padding: 0.2rem;
}
.info-price1 {
    font-weight: 800;
    color:#363E41;
    padding: 0.2rem;
}
.cashback-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ame-content {
    height: 1.45rem;
}
.info-ame-content {
    margin-left: 0.4rem;
    font-size: 1.3rem;
    font-family: 'PT Sans', sans-serif;
    width: 19.7rem;
    height: 1.7rem;
    display: flex;
    align-items: center;
    color: #363e41;
}
.info-ame-price {
    font-family: 'PT Sans', sans-serif;
    color:#363E41;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 0.4rem;
}

.buttons-buy-box {
    width: 36.288rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: auto;
}
.btn-saibamais {
    text-decoration: none;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    width: 15.807rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 1rem;
}
.btn-comprar {
    text-decoration: none;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    width: 19.688rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #E41B29;
    font-size: 1.4rem;
}
.price-title2 {
    color:#76B900;
    font-size: 2.2rem;
    height: 6.7rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}
.btn-saibamais2 {
    text-decoration: none;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    width: 15.807rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 1rem;
    font-size: 1.4rem;
}
.btn-comprar2 {
    text-decoration: none;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    width: 19.688rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #76B900;
    font-size: 1.4rem;
}
.conteudo-texto2 {
    font-size: 4.2rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 900;
    color: #0672CB;
}
.vermais {
   display: flex;
   justify-content: center;
   margin-top: 10rem;
}
.icon-vermais {
    transition: .3s;
}
.icon-vermais:hover {
    width: 10rem;
    transition: .3s;
}

.price-title3 {
    color:#0672CB;
    font-size: 2.2rem;
    height: 6.7rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}
.btn-saibamais3 {
    text-decoration: none;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    width: 15.807rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 1rem;
    font-size: 1.4rem;
}
.btn-comprar3 {
    text-decoration: none;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    width: 19.688rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #0672CB;
    transition: 500ms;
    border: 0.2rem solid #0672CB;
    font-size: 1.4rem;
}
.btn-comprar3:hover {
    background-color: white;
    color:#0672CB;
    border: 0.2rem solid #0672CB;
    transition: 500ms;
}

.container-skip {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
}
.botoes-skip {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 2rem;
}
.skip {
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: white;
    margin: 0.2rem;
    padding: 2rem;
    font-family: 'PT Sans', sans-serif;
    height: 4.8rem;
    border: 0.1rem solid #424242;
    transition: 400ms;
}
.skip:hover {
    background-color: #0672CB;
    transition: 400ms;
    color: white;
}
@media only screen and (max-width: 1600px) {
 
    @media only screen and (max-width: 1440px) {
    }
    @media only screen and (max-width: 1366px) {
        .barra-de-pesquisa {
            display: none;
        }
        /* .logo {
           width: 80%;
        } */
        .container-grid {
            width: 80%;
        }
        .container-boxes {
            flex-direction: column;
            width: 80%;
        }
        .menu {
            
            height: 25rem;
            width: 100vw;
            /* margin-top: auto; */
            background-color: #000;
            position: absolute;
            top: 6.4rem;
            right: 0;
            display: none;
        }
        .menu a {
            display: none;
            display: flex;
            flex-direction: column;
            
        }
        .menu input {
            display: flex;
            flex-direction: column;
        }
        .container-rodape {
            width: auto;
            flex-direction: column;
        }
        .menu-bar {
            display: inline-block;
        }
        .link-rodape {
            width: 50rem;
        }
    }
    }
    @media only screen and (max-width: 1100px) {
        html {
            font-size: 58%;
        }
        .primeira-linha-rodape {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .link-rodape {
            margin-top: 7rem;
            margin-bottom: 7rem;
        }
        .banner {
            height: 30.5rem;
        }
    }
    @media only screen and (max-width: 780px) {
        .logo {
            display: none;
        }
        .logo-tablet {
            display: inline-block;
        }
    }
    
    @media only screen and (max-width: 640px) {
        html {
            font-size: 50%;
        }
        .logo-tablet {
            display: none;
        }
        .logo-mobile {
            display: inline-block;
        }
        .conteudo-texto, .conteudo-texto2 {
            font-size: 2.7rem;
        }
    
    }
    @media only screen and (max-width: 500px) {
        html {
            font-size: 45%;
        }
        header {
            height: 10rem;
        }
        .menu {
            position: absolute;
            top: 10rem;
        }
        .carrinho-usuario img {
            height: 2.5rem;
            margin: 1.2rem;
        }
        #carrinho-button {
            display : none;
        }
        .link-rodape {
            width: 40rem;
        }
    }
    .container-carrinho {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: auto;
        height: 50rem;
        
    }
    .fundo-carrinho {
        
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container-carrinho img {
        width: 40rem;
        opacity: 50%;
    }
    .container-carrinho span {
        font-size: 4rem;
        font-family: 'PT Sans', sans-serif;
    }
    .container-carrinho a {
        font-size: 2rem;
        text-decoration: none;
        color: #000;
        font-family: 'PT Sans', sans-serif;
    }
    .container-carrinho a:hover {
        text-decoration: underline;
    }