
    <section class="banner">
    </section>
    <section class="text-grid">
        <div class="conteudo-texto">
            <span>
                Qual é o
                <span class="hardware-titulo">hardware</span>
                ideal para você?
            </span>
        </div>
    </section>
    <section class="container-boxes">
        <div class="produto-box">
            <div class="figure"><img src="assets/img/computador-imagem.svg" alt="Computador Gamer">
            </div>
            <div class="info-box">
                <p>computador pichau gamer, amd ryzen 3 4350g, 16gb ddr4, hd 1tb + ssd m.2 120gb</p>
            </div>
            <div class="price-title"><span>R$ 5.663,57</span></div>
            <div class="info-price"><span>em 10x de <span class="info-first-value">R$ 563,69</span> sem juros no cartão
                    ou em <span class="info-price1">R$ 5.380,68</span> à vista no boleto com 5% de desconto</span>
            </div>
            <div class="cashback-content">
                <span class="ame-content"><img src="assets/img/ame-logo.svg" alt="Use ame e" width="40px"
                        height="12.11px"></span>
                <span class="info-ame-content">receba <span class="info-ame-price">R$ 283,19</span> (5% de volta)</span>
            </div>
            <div class="buttons-buy-box">
                <a href class="btn-saibamais">saiba mais</a>
                <a href class="btn-comprar">comprar</a>
            </div>
        </div>
        <div class="produto-box">
            <div class="figure"><img src="assets/img/computador-imagem.svg" alt="Computador Gamer">
            </div>
            <div class="info-box">
                <p>computador pichau gamer, amd ryzen 3 4350g, 16gb ddr4, hd 1tb + ssd m.2 120gb</p>
            </div>
            <div class="price-title"><span>R$ 5.663,57</span></div>
            <div class="info-price"><span>em 10x de <span class="info-first-value">R$ 563,69</span> sem juros no cartão
                    ou em <span class="info-price1">R$ 5.380,68</span> à vista no boleto com 5% de desconto</span>
            </div>
            <div class="cashback-content">
                <span class="ame-content"><img src="assets/img/ame-logo.svg" alt="Use ame e" width="40px"
                        height="12.11px"></span>
                <span class="info-ame-content">receba <span class="info-ame-price">R$ 283,19</span> (5% de volta)</span>
            </div>
            <div class="buttons-buy-box">
                <a href class="btn-saibamais">saiba mais</a>
                <a href class="btn-comprar">comprar</a>
            </div>
        </div>
        <div class="produto-box">
            <div class="figure"><img src="assets/img/computador-imagem.svg" alt="Computador Gamer">
            </div>
            <div class="info-box">
                <p>computador pichau gamer, amd ryzen 3 4350g, 16gb ddr4, hd 1tb + ssd m.2 120gb</p>
            </div>
            <div class="price-title"><span>R$ 5.663,57</span></div>
            <div class="info-price"><span>em 10x de <span class="info-first-value">R$ 563,69</span> sem juros no cartão
                    ou em <span class="info-price1">R$ 5.380,68</span> à vista no boleto com 5% de desconto</span>
            </div>
            <div class="cashback-content">
                <span class="ame-content"><img src="assets/img/ame-logo.svg" alt="Use ame e" width="40px"
                        height="12.11px"></span>
                <span class="info-ame-content">receba <span class="info-ame-price">R$ 283,19</span> (5% de volta)</span>
            </div>
            <div class="buttons-buy-box">
                <a href class="btn-saibamais">saiba mais</a>
                <a href class="btn-comprar">comprar</a>
            </div>
        </div>
    </section>


    <section class="container-boxes">
        <div class="produto-box">
            <div class="figure"><img src="assets/img/computador-home-office.svg" alt="Computador home office">
            </div>
            <div class="info-box">
                <p>computador pichau gamer, amd ryzen 3 4350g, 16gb ddr4, hd 1tb + ssd m.2 120gb</p>
            </div>
            <div class="price-title2"><span>R$ 5.663,57</span></div>
            <div class="info-price"><span>em 10x de <span class="info-first-value">R$ 563,69</span> sem juros no cartão
                    ou em <span class="info-price1">R$ 5.380,68</span> à vista no boleto com 5% de desconto</span>
            </div>
            <div class="cashback-content">
                <span class="ame-content"><img src="assets/img/ame-logo.svg" alt="Use ame e" width="40px"
                        height="12.11px"></span>
                <span class="info-ame-content">receba <span class="info-ame-price">R$ 283,19</span> (5% de volta)</span>
            </div>
            <div class="buttons-buy-box">
                <a href class="btn-saibamais2">saiba mais</a>
                <a href class="btn-comprar2">comprar</a>
            </div>
        </div>


        <div class="produto-box">
            <div class="figure"><img src="assets/img/computador-home-office.svg" alt="Computador home office">
            </div>
            <div class="info-box">
                <p>computador pichau gamer, amd ryzen 3 4350g, 16gb ddr4, hd 1tb + ssd m.2 120gb</p>
            </div>
            <div class="price-title2"><span>R$ 5.663,57</span></div>
            <div class="info-price"><span>em 10x de <span class="info-first-value">R$ 563,69</span> sem juros no cartão
                    ou em <span class="info-price1">R$ 5.380,68</span> à vista no boleto com 5% de desconto</span>
            </div>
            <div class="cashback-content">
                <span class="ame-content"><img src="assets/img/ame-logo.svg" alt="Use ame e" width="40px"
                        height="12.11px"></span>
                <span class="info-ame-content">receba <span class="info-ame-price">R$ 283,19</span> (5% de volta)</span>
            </div>
            <div class="buttons-buy-box">
                <a href class="btn-saibamais2">saiba mais</a>
                <a href class="btn-comprar2">comprar</a>
            </div>
        </div>


        <div class="produto-box">
            <div class="figure"><img src="assets/img/computador-home-office.svg" alt="Computador Home-Office">
            </div>
            <div class="info-box">
                <p>computador pichau gamer, amd ryzen 3 4350g, 16gb ddr4, hd 1tb + ssd m.2 120gb</p>
            </div>
            <div class="price-title2"><span>R$ 5.663,57</span></div>
            <div class="info-price"><span>em 10x de <span class="info-first-value">R$ 563,69</span> sem juros no cartão
                    ou em <span class="info-price1">R$ 5.380,68</span> à vista no boleto com 5% de desconto</span>
            </div>
            <div class="cashback-content">
                <span class="ame-content"><img src="assets/img/ame-logo.svg" alt="Use ame e" width="40px"
                        height="12.11px"></span>
                <span class="info-ame-content">receba <span class="info-ame-price">R$ 283,19</span> (5% de volta)</span>
            </div>
            <div class="buttons-buy-box">
                <a href class="btn-saibamais2">saiba mais</a>
                <a href class="btn-comprar2">comprar</a>
            </div>
        </div>
    </section>
    <div>
        <a href="#" class="vermais"><img class="icon-vermais" src="assets/img/vermais-icon.svg" alt="icone de ver mais"
                width="90px"></a>
    </div>
    <section class="text-grid">
        <div class="conteudo-texto2">
            <span>
                Smartphones/Notebooks
            </span>
        </div>
    </section>
    <section class="container-boxes">
        <div class="produto-box">
            <div class="figure"><img src="assets/img/notebook.svg" alt="Notebook">
            </div>
            <div class="info-box">
                <p>computador pichau gamer, amd ryzen 3 4350g, 16gb ddr4, hd 1tb + ssd m.2 120gb</p>
            </div>
            <div class="price-title3"><span>R$ 5.663,57</span></div>
            <div class="info-price"><span>em 10x de <span class="info-first-value">R$ 563,69</span> sem juros no cartão
                    ou em <span class="info-price1">R$ 5.380,68</span> à vista no boleto com 5% de desconto</span>
            </div>
            <div class="cashback-content">
                <span class="ame-content"><img src="assets/img/ame-logo.svg" alt="Use ame e" width="40px"
                        height="12.11px"></span>
                <span class="info-ame-content">receba <span class="info-ame-price">R$ 283,19</span> (5% de volta)</span>
            </div>
            <div class="buttons-buy-box">
                <a href class="btn-saibamais3">saiba mais</a>
                <a href class="btn-comprar3">comprar</a>
            </div>
        </div>
        <div class="produto-box">
            <div class="figure"><img src="assets/img/notebook.svg" alt="Notebook">
            </div>
            <div class="info-box">
                <p>computador pichau gamer, amd ryzen 3 4350g, 16gb ddr4, hd 1tb + ssd m.2 120gb</p>
            </div>
            <div class="price-title3"><span>R$ 5.663,57</span></div>
            <div class="info-price"><span>em 10x de <span class="info-first-value">R$ 563,69</span> sem juros no cartão
                    ou em <span class="info-price1">R$ 5.380,68</span> à vista no boleto com 5% de desconto</span>
            </div>
            <div class="cashback-content">
                <span class="ame-content"><img src="assets/img/ame-logo.svg" alt="Use ame e" width="40px"
                        height="12.11px"></span>
                <span class="info-ame-content">receba <span class="info-ame-price">R$ 283,19</span> (5% de volta)</span>
            </div>
            <div class="buttons-buy-box">
                <a href class="btn-saibamais3">saiba mais</a>
                <a href class="btn-comprar3">comprar</a>
            </div>
        </div>
        <div class="produto-box">
            <div class="figure"><img src="assets/img/notebook.svg" alt="Notebook">
            </div>
            <div class="info-box">
                <p>computador pichau gamer, amd ryzen 3 4350g, 16gb ddr4, hd 1tb + ssd m.2 120gb</p>
            </div>
            <div class="price-title3"><span>R$ 5.663,57</span></div>
            <div class="info-price"><span>em 10x de <span class="info-first-value">R$ 563,69</span> sem juros no cartão
                    ou em <span class="info-price1">R$ 5.380,68</span> à vista no boleto com 5% de desconto</span>
            </div>
            <div class="cashback-content">
                <span class="ame-content"><img src="assets/img/ame-logo.svg" alt="Use ame e" width="40px"
                        height="12.11px"></span>
                <span class="info-ame-content">receba <span class="info-ame-price">R$ 283,19</span> (5% de volta)</span>
            </div>
            <div class="buttons-buy-box">
                <a href class="btn-saibamais3">saiba mais</a>
                <a href class="btn-comprar3">comprar</a>
            </div>
        </div>
    </section>
    <section class="container-boxes">
        <div class="produto-box">
            <div class="figure"><img src="assets/img/smartphone-asus.svg" alt="Notebook">
            </div>
            <div class="info-box">
                <p>computador pichau gamer, amd ryzen 3 4350g, 16gb ddr4, hd 1tb + ssd m.2 120gb</p>
            </div>
            <div class="price-title3"><span>R$ 5.663,57</span></div>
            <div class="info-price"><span>em 10x de <span class="info-first-value">R$ 563,69</span> sem juros no cartão
                    ou em <span class="info-price1">R$ 5.380,68</span> à vista no boleto com 5% de desconto</span>
            </div>
            <div class="cashback-content">
                <span class="ame-content"><img src="assets/img/ame-logo.svg" alt="Use ame e" width="40px"
                        height="12.11px"></span>
                <span class="info-ame-content">receba <span class="info-ame-price">R$ 283,19</span> (5% de volta)</span>
            </div>
            <div class="buttons-buy-box">
                <a href class="btn-saibamais3">saiba mais</a>
                <a href class="btn-comprar3">comprar</a>
            </div>
        </div>
        <div class="produto-box">
            <div class="figure"><img src="assets/img/smartphone-asus.svg" alt="Notebook">
            </div>
            <div class="info-box">
                <p>computador pichau gamer, amd ryzen 3 4350g, 16gb ddr4, hd 1tb + ssd m.2 120gb</p>
            </div>
            <div class="price-title3"><span>R$ 5.663,57</span></div>
            <div class="info-price"><span>em 10x de <span class="info-first-value">R$ 563,69</span> sem juros no cartão
                    ou em <span class="info-price1">R$ 5.380,68</span> à vista no boleto com 5% de desconto</span>
            </div>
            <div class="cashback-content">
                <span class="ame-content"><img src="assets/img/ame-logo.svg" alt="Use ame e" width="40px"
                        height="12.11px"></span>
                <span class="info-ame-content">receba <span class="info-ame-price">R$ 283,19</span> (5% de volta)</span>
            </div>
            <div class="buttons-buy-box">
                <a href class="btn-saibamais3">saiba mais</a>
                <a href class="btn-comprar3">comprar</a>
            </div>
        </div>
        <div class="produto-box">
            <div class="figure"><img src="assets/img/smartphone-asus.svg" alt="Notebook">
            </div>
            <div class="info-box">
                <p>computador pichau gamer, amd ryzen 3 4350g, 16gb ddr4, hd 1tb + ssd m.2 120gb</p>
            </div>
            <div class="price-title3"><span>R$ 5.663,57</span></div>
            <div class="info-price"><span>em 10x de <span class="info-first-value">R$ 563,69</span> sem juros no cartão ou em <span class="info-price1">R$ 5.380,68</span> à vista no boleto com 5% de desconto</span></div>
            <div class="cashback-content">
                <span class="ame-content"><img src="assets/img/ame-logo.svg" alt="Use ame e" width="40px"
                        height="12.11px"></span>
                <span class="info-ame-content">receba <span class="info-ame-price">R$ 283,19</span> (5% de volta)</span>
            </div>
            <div class="buttons-buy-box">
                <a href class="btn-saibamais3">saiba mais</a>
                <a href class="btn-comprar3">comprar</a>
            </div>
        </div>
    </section>
    <div class="container-skip">
        <ul class="botoes-skip">
            <li><a class="skip" href="https://www.google.com/">1</a></li>
            <li><a class="skip" href="#">2</a></li>
            <li><a class="skip" href="#">3</a></li>
            <li><a class="skip" href="#">></a></li>
        </ul>
    </div>