<div class="background-footer">
<section class="container-rodape">
    <div class="primeira-linha-rodape">
        <img src="assets/img/logomenu.svg" alt="logo senai">
        <div class="link-rodape">
            <a href="#">Sobre nós</a>
            <a routerLink="/fale-conosco">Suporte</a>
            <a href="#">Conta</a>
            <a href="#">Termos de Serviço</a>
        </div>
    </div>
    <div class="segunda-linha-rodape">
        <div class="formas-de-pagamento">
            formas de pagamento:
            <div class="imagem-pagamentos">
                <img src="assets/img/formas-pagamento 1.svg"
                    alt="formas de pagamento: visa, mastercard, elo, hypercard e boleto">
            </div>
        </div>
        <div class="segurança-certificados">
            Segurança:
            <div class="selos">
                <img class="selo-de-segurança" src="assets/img/selo-google-site-seguro 1.svg" alt="site seguro do google">
                <img class="selo-de-segurança" src="assets/img/site blindado.svg" alt="site blindado">
            </div>
        </div>
        <div class="certificados-iso">
            Certificados:
            <div class="selos-iso">
                <img src="assets/img/ISO 4001 1.svg" alt="iso 14001">
                <img src="assets/img/ISO 9001 1.svg" alt="iso 9001">
            </div>
        </div>
    </div>
    <div class="siga-nos">
        Siga-nos:
        <div class="siga-nos-icones">
            <a class="icones-sociais" href="#"><img src="assets/img/instagram-brands.svg" alt="página do instagram"></a>
            <a class="icones-sociais" href="#"><img src="assets/img/twitter-brands.svg" alt="página do twitter"></a>
            <a class="icones-sociais" href="#"><img src="assets/img/facebook-brands.svg" alt="página do facebook"></a>
        </div>
    </div>
</section>
</div>
<footer>
    <div class="container-direitos-reservados">
        <span class="direitos-reservados-info">© 2022 SESI SENAI PROTÓTIPO Todos os direitos reservados.
            SESI SENAI LTDA. CNPJ: 00.000.000/0000-00</span>
    </div>
</footer>