.fundo-registro {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(72deg, #E15554 1%, #4D9DE0 40%, #5FAD56 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-registro {
    display: flex;
    flex-direction: column;
    height: 80rem;
    min-height: 44rem;
    max-height: 85rem;
    width: 50rem;
    /* max-width: 60rem;
    min-width: 44rem; */
}
.content-registro .header-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.content-registro .header-registro img {
    width: 5rem;
    height: 5rem;
}
.content-registro .header-registro h1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 4rem;
    margin-top: 1rem;
}
.content-registro .main-registro {
    margin: auto;
    width: 85%;
    height: 82%;
}
.content-registro .main-registro .form-registro {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.content-registro .input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 5.5rem;
    border: 2px solid #ffffff;
    flex-direction: row-reverse;
    transition: .3s;
}
.content-registro .input-field:hover {
    border: 2px solid #D3D3D3;
    transition: .3s;
}
.content-registro .input-field:hover > input {
    background-color: #D3D3D3;
    transition: .3s;
}
.content-registro .input-field input {
    border: none;
    outline: none;
    width: 82%;
    height: 100%;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 0 8px 8px 0;
    transition: .3s;
}
.content-registro::-webkit-input-placeholder {
    color: #6d6e6f;
    font-weight: 300;
}
.content-registro .input-field label {
    height: 5.5rem;
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-registro .input-field label img {
    width: 2.4rem;
    height: 2.4rem;
}
.content-registro .checkbox-registro label {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.8rem;
    cursor: pointer;
}
.content-registro .checkbox-registro input {
    display: none;
}
.content-registro .checkbox-registro input + label:before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    border: 2px solid white;
    border-radius: 0.5rem;
    margin-right: 1rem;
}
.content-registro .checkbox-registro input:checked + label:before {
    background: url(../../../assets/img/check-solid.svg) no-repeat center;
}
.content-registro .form-registro button {
    height: 5.5rem;
    background-color: #031D44;
    border: none;
    border-radius: 8px;
    color: white;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    font-family: 'PT Sans', sans-serif;
    transition: .3s;
}
.content-registro .form-registro button:hover {
    background-color: #021127;
    transition: .3s;
}
.content-registro .footer-registro {
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6%;
    border-bottom: 2px solid #def7f478;
}
.content-registro .footer-registro a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    transition: .3s;
}
.content-registro .footer-registro a:hover {
    text-decoration: underline;
    transition: .3s;
}
.content-registro .footer-registro span a {
    font-weight: 300;
}